<html>
<head>
</head>
<body>
<br /><br />
<a href="http://www.ikawacoffee.com">
<div id="topbar" style="display: inline; height: 45px; width:288px; float: left; background-color:#D31820;"><img style="height: 45px;" src="{{share_base_url}}static/logo_white.png" /></div>
</a> <br /><br />
<br />
<p style="font-family:'Helvetica Neue',verdana; font-size:13px; margin:15px 0 10px 0;"> <strong>Open profile in IKAWA Pro App:</strong> </p>
<a href="{{profile_url}}" style="text-decoration:none; background-color:#212125; display:block; width:288px; height:55px; border:2px solid #302f35; border-style:ridge;">
<div style="display: inline; width:288px; margin:0 auto; float: left;"> <img style="width:55px; height:55px; display:block; float:left;" src="{{profile_icon_url}}" />
  <h1 style="color:#fff; font-family:'Helvetica Neue',verdana; font-size:16px; margin: 18px 0 0 10px; display:block; float:left;">{{profile_name}}</h1>
</div>
</a> 
</body>
</html>
