<html>
<head>
</head>
<body>
<p style="font-family:'Helvetica Neue',verdana; font-size:13px; margin:15px 0 10px 0;"><strong>Roast details:</strong><br>
  {{roast_details}}</p>
<br />
<a href="http://www.ikawacoffee.com">
<div id="topbar" style="display: inline; height: 45px; width:288px; float: left; background-color:#D31820;"><img style="height: 45px;" src="{{share_base_url}}static/logo_white.png" /></div>
</a> <br /><br />
<br />
{{photo_header}}
</body>
</html>
