<html>
<head>
</head>
<body>
<p style="color:#ce0a0f; font-family:'Helvetica Neue',verdana; font-size:13px; margin:15px 0 10px 0;"><strong>ROAST DETAILS</strong><br>
  <span style="color:#333; font-family:'Helvetica Neue',verdana; font-size:12px;">{{roast_details}}</span></p>
<br />
<br /><br />
{{photo_header}}
</body>
</html>
