<html>
<head>
</head>
<body>
<p style="color:#ce0a0f; font-family:'Helvetica Neue',verdana; font-size:13px; margin:15px 0 10px 0;"><strong>ROAST DETAILS</strong><br>
  <span style="color:#333; font-family:'Helvetica Neue',verdana; font-size:12px;">{{roast_details}}</span></p>
<br />
<a href="{{profile_url}}" style="text-decoration:none;"><p style="color:#ce0a0f; font-family:'Helvetica Neue',verdana; font-size:13px; margin:15px 0 10px 0;"><strong>OPEN ROAST RECIPE IN IKAWA HOME APP</strong></p></a>
<a href="{{profile_url}}" style="text-decoration:none; background-color:#ffffff; display:block; width:288px; height:55px; border:1px solid #eeeeee; border-style:ridge;">
<div style="display: inline; width:288px; margin:0 auto; float: left;"> <img style="width:55px; height:55px; display:block; float:left;" src="https://firebasestorage.googleapis.com/v0/b/ikawa-app.appspot.com/o/static%2Fimages%2FProfileIconBlack.png?alt=media" />
  <span style="color:#333; font-family:'Helvetica Neue',verdana; font-size:12px; margin: 18px 0 0 10px; display:block; float:left;">{{profile_name}}</span>
</div></a>
<br /><br />
{{photo_header}}
</body>
</html>
